<div class="flex w-7/12 mx-auto justify-center border-2 border-dashed border-gray-700 rounded-lg py-5">
    <div class="w-8/12 grid gap-y-6">
        <h2 class="text-2xl font-bold text-indigo-400">Create Your ToDo !</h2>
        <input [(ngModel)]="taskName" class="bg-gray-900 bg-opacity-30 placeholder:text-gray-500 px-4 py-2 w-full rounded-xl outline-none text-indigo-300" type="text"
        placeholder="Clean My Room ...">
        <button (click)="addToDo()" class="bg-indigo-500 gap-2 hover:bg-indigo-600 duration-500 w-fit px-4 py-1 rounded-lg flex justify-self-end">
            <svg class="size-5 my-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path
                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z">
            </path>
        </svg>
        <div>New Task</div>
    </button>
    </div>
</div>
<!-- Tasks List -->
<app-tasks></app-tasks>
